{{ define "header" }}
  <div class="dn"></div>
{{ end }}

{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>
  <section class="vh-100 overflow-hidden flex flex-wrap bg-cover bg-top white" style="background-image: url(/images/099A7733.jpg);">
    <article class="w-100 w-30-ns pa4">
      <h3 class="mt0 mb4 f3 fw6 tracked lh-solid ttu"><span class="tracked-tight fw2">Inside </span>Chanel</h3>
      {{ partial "nav" . }}
    </article>
    <article class="w-100 w-70-ns flex justify-center items-end">
      <header class="mb4 mb6-ns lh-title tc">
        <h2 class="mv0 f2 fw3 tracked-tight ttu">Chapter 1</h2>
        <h1 class="mv0 f1 fw5 tracked ttu">Marilyn And &numero;5</h1>
      </header>
    </article>
  </section>

  <input type="checkbox" id="light-box" class="dn">

  <section class="flex flex-wrap mw8 center mb5">
    <aside class="w-100 w-25-ns"></aside>
    <article class="flex flex-wrap w-100 w-75-ns">
      {{ with .Resources.Match "images-left/*" }}
      <div class="flex flex-column w-60 pr4">
      {{ $.Scratch.Set "count" 0 }}
      {{ range . }}
      {{ $.Scratch.Add "count" 1 }}
      <div class="">
        <label for="light-box-{{($.Scratch.Get "count")}}" class="">
        <figure class="relative mt4 mt5-ns mh0 dim">
          <img src="{{.Permalink}}" alt="{{.Title}}" class="db">
          {{ $.Scratch.Set "title" .Title }}
          {{ with .Params }}
          <figcaption class="acenter f7 fw6 tracked lh-title ttu tc">{{($.Scratch.Get "title")}}<br>{{.caption}}<br><span class="black-50">{{ .copy | safeHTML }}</span></figcaption>
          {{ end }}
        </figure>
        </label>    
      </div>
      <style>
      #light-box-{{($.Scratch.Get "count")}}:checked~#light-box-slide-{{($.Scratch.Get "count")}}{
          top: 0;
      }
      </style>
      <input type="checkbox" id="light-box-{{($.Scratch.Get "count")}}" class="dn">
      <section id="light-box-slide-{{($.Scratch.Get "count")}}" class="z-999 fixed flex justify-center top-100 left-0 h-100 w-100 overflow-hidden bg-white trans-all">
        <figure class="mt5 mh2 mh6-ns">
          <img src="{{.Permalink}}" class="db center mxhi-75">
          {{ $.Scratch.Set "title" .Title }}
          {{ with .Params }}
          <figcaption class="mt4 f7 fw5 tracked lh-title ttu tc">{{($.Scratch.Get "title")}}<br>{{.caption}}<br><span class="black-50">{{ .copy | safeHTML }}</span></figcaption>
          {{ end }}
        </figure>
        <label for="light-box-{{($.Scratch.Get "count")}}" class="close z-5 absolute top-0 right-0 ma4"></label>
      </section>
      {{ end }}
      </div>
      {{ end }}
      {{ with .Resources.Match "images-right/*" }}
      <div class="flex flex-column w-40">
      {{/* $.Scratch.Set "count" 0 */}}
      {{ range . }}
      {{ $.Scratch.Add "count" 1 }}
      <div class="">
        <label for="light-box-{{($.Scratch.Get "count")}}" class="">
        <figure class="relative mt4 mt5-ns mh0 dim">
          <img src="{{.Permalink}}" class="db">
          {{ $.Scratch.Set "title" .Title }}
          {{ with .Params }}
          <figcaption class="acenter f7 fw6 tracked lh-title ttu tc">{{($.Scratch.Get "title")}}<br>{{.caption}}<br><span class="black-50">{{ .copy | safeHTML }}</span></figcaption>
          {{ end }}
        </figure>
        </label>    
      </div>
      <style>
      #light-box-{{($.Scratch.Get "count")}}:checked~#light-box-slide-{{($.Scratch.Get "count")}}{
          top: 0;
      }
      </style>
      <input type="checkbox" id="light-box-{{($.Scratch.Get "count")}}" class="dn">
      <section id="light-box-slide-{{($.Scratch.Get "count")}}" class="z-999 fixed flex justify-center top-100 left-0 h-100 w-100 overflow-hidden bg-white trans-all">
        <figure class="mt5 mh2 mh6-ns">
          <img src="{{.Permalink}}" class="db center mxhi-75">
          {{ $.Scratch.Set "title" .Title }}
          {{ with .Params }}
          <figcaption class="mt4 f7 fw5 tracked lh-title ttu tc">{{($.Scratch.Get "title")}}<br>{{.caption}}<br><span class="black-50">{{ .copy | safeHTML }}</span></figcaption>
          {{ end }}
        </figure>
        <label for="light-box-{{($.Scratch.Get "count")}}" class="close z-5 absolute top-0 right-0 ma4"></label>
      </section>
      {{ end }}
      </div>
      {{ end }}
    </article>
  </section>

  <section id="light-box-slide" class="fixed flex justify-center top-100 left-0 h-100 w-100 overflow-hidden bg-white trans-all">
    <figure class="mt5 mh6">
      <img src="/images/099A0941.jpg" class="db center mxhi-75">
      <figcaption class="mt4 f7 fw5 tracked lh-title ttu tc">2018<br>Caption Of Picture<br><span class="black-50">&copy;R. W. Boyer</span></figcaption>
    </figure>
    <label for="light-box" class="close z-5 absolute top-0 right-0 ma4"></label>
  </section>

  {{ with .Resources.ByType "image" }}
  <ul class="">
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .ResourceType | title }}</a></li>
  {{ end }}
  </ul>
  {{ end }}
  
  {{ with .Resources.ByType "page" }}
  <ul class="">
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a><p>{{.Content}}</p></li>
  {{ end }}
  </ul>
  {{ end }}  

{{ end }}

{{ define "footer" }}
  <div class="dn"></div>
{{ end }}
