<aside class="fixed top-0 left-0 z-999 w-30 pa4 bm-ex">
  <h3 class="mt0 mb4 f3 fw6 tracked lh-solid ttu"><a href="/" class="link white"><span class="tracked-tight fw2">Canned </span>OX</a></h3>
  <ol class="pl3 mv0 f7 fw6 tracked ttu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    <li class="ma0"><a href="{{.URL}}" class="link white hover-dark-red{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} bb {{end}}">{{.Name}}</a></li>
    {{ end }}
  </ol>
</aside>