{{ define "header" }}
  <div class="dn"></div>
{{ end }}

{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>
  <div class="bg-white">
  <section class="vh-100 overflow-hidden flex justify-end bg-cover bg-top bg-black white">
    {{ partial "nav" . }}
    <article class="w-70 flex justify-center items-end mb6">
      <header class="lh-title tc">
        <h2 class="mv0 f2 fw3 tracked-tight ttu">Chapter 1</h2>
        <h1 class="mv0 f1 fw5 tracked ttu">Marilyn And &numero;5</h1>
      </header>
    </article>
  </section>
  </div>
{{ end }}

{{ define "footer" }}
  <div class="dn"></div>
{{ end }}
