{{ define "header" }}
  <div class="dn"></div>
{{ end }}

{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>

<section class="fixed vh-100 w-100">
  <div class="" style='position: fixed; z-index: -99; width: 2320px; height: 180%; left: 0;top: -38%;'>
    <iframe class="o-10" frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/tz8Puc4W5BM?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1"></iframe>
  </div>
  <article class="absolute bottom-0 left-0 pa5 trans-all">
    <header class="">
      <h1 class="mv0 f2 fw5">industrial <span class="yellow">strength &rsaquo;</span></h1>
      <hr class="w3 b--yellow bt bw1 mh0 mv4">
      <h3 class="mv0 f4 fw5">a really <span class="yellow">cool</span> thing</h1>
    </header>
  </article>
</section>

{{ end }}

{{ define "footer" }}
  <div class="dn"></div>
{{ end }}
